
.navbar-link{
    font-size:medium;
    font-weight: bold;
    color: rgb(124, 42, 12);
}
.navbar-link:hover{
    color: rgb(190, 73, 17);
}
body{
    display: flex;
    flex-direction: column;
}
.accordion-button:not(.collapsed) {
    color: #000000;
     background-image:linear-gradient(to bottom right,rgb(229, 176, 156), rgb(229, 128, 104));
}
.accordion-button.collapsed{    
    color: #ffffff;
    background-image:linear-gradient(to bottom right,rgb(124, 42, 12), rgb(190, 63, 17));
    ;
}